.page {
  background-color: #000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  margin: 45px auto 60px;
  padding: 0;
  color: #fff;
  font-family: 'Inter', 'Helvatica', sans-serif;
  font-style: normal;
  min-width: 320px;
}

@media screen and (max-width: 600px) {
  .page {
    margin: 28px 0 36px;
  }
}