.profile__info {
  display: grid;
  grid-template-areas:
    'name btn-edit'
    'prof prof';
  gap: 8px 18px;
  align-items: baseline;
}

@media screen and (max-width: 600px) {
  .profile__info {
    margin: 22.25px auto 36px;
    text-align: center;
    gap: 10px 14px;
  }
}