.card__delete {
  position: absolute;
  top: 20px;
  right: 20px;
  background-image: url(../../../images/Trash.svg);
  background-size: cover;
  min-width: 18px;
  height: 19px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}